{% extends 'base.html' %}

<h1>{% block title %} Stwórz projekt {% endblock %}</h1>

{% block content %}
{% if data %}
<p> {{ data.fname }} {{ data. lname }} jest zapisana_y do projektu {{ data.pname }} </p>
{% else %}
<form action="{{ url_for('addStudentToProject') }}" method="post">
<label for="pname">Nazwa projektu:</label><br>
<input type="text" id="pname" name="pname"><br>
<label for="fname">Imię</label><br>
<input type="text" id="fname" name="fname"><br>
<label for="lname">Nazwisko</label><br>
<input type="text" id="lname" name="lname"><br><br>
<input type="submit" value="Zapisz">
</form> 
{% endif %}
{% endblock %}