{% extends 'base.html' %}

<h1>{% block title %} Usuń studenta z projektu {% endblock %}</h1>

{% block script %} 
<script> 
    function deleteStudentFromProject() {
        var pname = document.getElementById('pname').value;
        var fname = document.getElementById('fname').value;
        var lname = document.getElementById('lname').value;
        var url = "/deleteStudentFromProject/" + fname + '/' + lname + '/' + pname
        
        fetch(url, {
            method: 'delete',
            headers: {'Content-Type': 'application/json'},
        })
        .then(response => {
            result = response.json()
            status_code = response.status;
            if(status_code != 200) {
                console.log('Error in getting info!')
                return false;
            }
            return result
        })
        .then(data => {
            console.log(data)
            document.getElementById("del").innerHTML = data['result']
        })
        .catch(error => {
            console.log(error)
        });
    }  
</script>
{% endblock %}

{% block content %}

<div id="del">
<form action="javascript:deleteStudentFromProject()" method="post">
<label for="fname">Imię</label><br>
<input type="text" id="fname" name="fname"><br>
<label for="lname">Nazwisko</label><br>
<input type="text" id="lname" name="lname"><br><br>
<label for="pname">Nazwa projektu:</label><br>
<input type="text" id="pname" name="pname"><br>
<input type="submit" value="Usuń">
</form> 
</div>
{% endblock %}