{% extends 'base.html' %}

<h1>{% block title %} Pokaż uczestników projektu {% endblock %}</h1>

{% block script %} 
<script> 
    function findProjectTeam() {
        var pname = document.getElementById('pname').value;
        var url = "/findProjectTeam/" + pname
        
        fetch(url, {
            method: 'get',
            headers: {'Content-Type': 'application/json'}
        })
        .then(response => {
            result = response.json()
            status_code = response.status;
            if(status_code != 200) {
                console.log('Error in getting info!')
                return false;
            }
            return result
        })
        .then(data => {
            console.log(data)
            res = document.getElementById("find")
            if (data['result'].length > 0) {
                res.innerHTML = "W projekcie " + data['result'][0]['p'] + " uczestniczą (max " + data['result'][0]['pn'] + "): </br> <ul>"
                for (var r = 0; r < data['result'].length; r++) {
                    res.innerHTML += "<li>" + data['result'][r]['s'] + "</li></br>"
                }
                res.innerHTML += "</ul>"
            }
            else {
                res.innerHTML = "W projekcie nikt nie uczestniczy lub nie ma takiego projektu"
            }
        })
        .catch(error => {
            console.log(error)
        });
    }  
</script>
{% endblock %}

{% block content %}
<div id="find">
<form action="javascript:findProjectTeam()" method="post">
<label for="pname">Nazwa projektu:</label><br>
<input type="text" id="pname" name="pname"><br>
<input type="submit" value="Pokaż">
</form> 
</div>
{% endblock %}