{% extends 'base.html' %}

<h1>{% block title %} Stwórz projekt {% endblock %}</h1>

{% block script %} 
<script> 
    function findProjectTeam() {
        var pname = document.getElementById('pname').value;
        var url = "{{ url_for('findProjectTeam', pname=pname) }}" + "/" + pname
        
        fetch(url, {
            method: 'get',
            headers: {'Content-Type': 'application/json'}
        })
        .then(response => {
            result = response.json()
            status_code = response.status;
            if(status_code != 200) {
                console.log('Error in getting info!')
                return false;
            }
            return result
        })
        .then(data => {
            console.log(data)
            document.getElementById("find").innerHTML =  data['result'] 
        })
        .catch(error => {
            console.log(error)
        });
    }  
</script>
{% endblock %}

{% block content %}
<div id="find">
<form action="javascript:findProjectTeam()" method="post">
<label for="pname">Nazwa projektu:</label><br>
<input type="text" id="pname" name="pname"><br>
<input type="submit" value="Pokaż">
</form> 
</div>
{% endblock %}