{% extends 'base.html' %}

<h1>{% block title %} Pokaż uczestników projektu {% endblock %}</h1>

{% block script %} 
<script> 
    function findAllProjects() {
        var url = "/findAllProjects/"
        
        fetch(url, {
            method: 'get',
            headers: {'Content-Type': 'application/json'}
        })
        .then(response => {
            result = response.json()
            status_code = response.status;
            if(status_code != 200) {
                console.log('Error in getting info!')
                return false;
            }
            return result
        })
        .then(data => {
            console.log(data)
            //document.getElementById("find").innerHTML =  data['result']
            res = document.getElementById("find")
            res.innerHTML = "Projekty: </br> <ul>"
            for (var r = 0; r < data['result'].length; r++) {
                res.innerHTML += "<li>" + data['result'][r]['p'] + ", max " + data['result'][r]['pn'] + " osób </li></br>"
            }
            res.innerHTML += "</ul>"
        })
        .catch(error => {
            console.log(error)
        });
    }  
</script>
{% endblock %}

{% block content %}
<div id="find">
<form action="javascript:findAllProjects()" method="post">
<input type="submit" value="Pokaż">
</form> 
</div>
{% endblock %}