{% extends 'base.html' %}

<h1>{% block title %} Pokaż projekty studenta {% endblock %}</h1>

{% block script %} 
<script> 
    function findStudentProjects() {
        var fname = document.getElementById('fname').value;
        var lname = document.getElementById('lname').value;
        var url = "/findStudentProjects/" + fname + "/" + lname
        
        fetch(url, {
            method: 'get',
            headers: {'Content-Type': 'application/json'}
        })
        .then(response => {
            result = response.json()
            status_code = response.status;
            if(status_code != 200) {
                console.log('Error in getting info!')
                return false;
            }
            return result
        })
        .then(data => {
            res = document.getElementById("find")
            if (data['result'].length > 0) {
                res.innerHTML = data['result'][0]['s'] + " - projekty: </br> <ul>"
                for (var r = 0; r < data['result'].length; r++) {
                    res.innerHTML += "<li>" + data['result'][r]['p'] + "</li></br>"
                }
                res.innerHTML += "</ul>"
            }
            else {
                res.innerHTML = "Student_ka nie istnieje lub nie uczestniczy w żadnym projekcie"
            }
        })
        .catch(error => {
            console.log(error)
        });
    }  
</script>
{% endblock %}

{% block content %}
<div id="find">
<form action="javascript:findStudentProjects()" method="post">
<label for="fname">Imię:</label><br>
<input type="text" id="fname" name="fname"><br>
<label for="lname">Nazwisko:</label><br>
<input type="text" id="lname" name="lname"><br>
<input type="submit" value="Pokaż">
</form> 
</div>
{% endblock %}