{% extends 'base.html' %}

<h1>{% block title %} Zaktualizuj projek {% endblock %}</h1>

{% block script %} 
<script> 
    function updateProject() {
        var pname = document.getElementById('pname').value;
        var nr_students = document.getElementById('nr_students').value;
        var url = "/updateProject/" + pname + '/' + nr_students
        
        fetch(url, {
            method: 'update',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({ 'pname' : pname, 'nr_students' : nr_students })
        })
        .then(response => {
            result = response.json()
            status_code = response.status;
            if(status_code != 200) {
                console.log('Error in getting info!')
                return false;
            }
            return result
        })
        .then(data => {
            console.log(data)
            document.getElementById("upd").innerHTML = data['result']
        })
        .catch(error => {
            console.log(error)
        });
    }  
</script>
{% endblock %}

{% block content %}

<div id="upd">
<form action="javascript:updateProject()" method="post">
<label for="pname">Nazwa projektu:</label><br>
<input type="text" id="pname" name="pname"><br>
<label for="nr_students">Liczba studentów:</label><br>
<input type="text" id="nr_students" name="nr_students"><br>
<input type="submit" value="Zaktualizuj">
</form> 
</div>
{% endblock %}